
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*---------- Police ----------*/
body{
	font-family : 'Raleway', sans-serif;
	margin-left: 20px;
}

ul li{
	list-style-type: none;
}

h2{
	font-weight: bold;
	font-size: medium;
}

a, a:visited{
	text-decoration: none;
	color: black;
}
		
		/*---------- Police fin----------*/
		/*---------- Header ----------*/

header a {
	flex-wrap: wrap;
	padding: 2.4em 1.8em 2.4em 0em;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
}

#block__nav > a {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #ffffff00;
	padding: 2.4em 1.8em 2.4em 1.8em;
}

#block__nav > a:hover {
	border-top: 3px solid #0065FC;
	color: #0065FC;
}

#block__nav {
	padding: 0 5rem;
	display: grid;
	grid-template-columns: 70% auto auto auto;
	margin-top: -9px;
}

#logo {
	margin-top: 2em;
	margin-left: -85px;
}

.login {
	font-weight: bold;
	color: #0065FC !important;
}

		/*---------- Header fin ----------*/
		/*---------- Bar de recherche ----------*/

.btn__search{
	background-color: #0065FC;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	height: 35px;
	width: 100px;
	border-radius: 0 10px 10px 0;
	border: #0065FC 0px ;
	position: relative;
	right: 9px;
	top: 4px;
}

.search__bar{
	height: 35px;
	border: #F2F2F2 solid 1px;
	position: relative;
	right: 5px;
	text-align: left;
}

button p{
	position: relative;
	bottom: 3px;
}

.block__search{
	height: 35px;
	width: 35px;
	border-radius: 10px 0px 0px 10px;
	background-color: #F2F2F2;
	display: inline-block;
	position: relative;
	bottom: 6px;
}

#btn__geo{
	position: relative;
	top: 8px;
	left: 12px;
}

.fa-search{
	display: none;
}		/*---------- Bar de recherche fin ----------*/

		/*---------- Filtre selection logement ----------*/


.block__filter{
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.block__filter__nav ul li:hover{
	font-size: 1em;
	background-color: #0065FC;
	color: white;
}

.block__filter__nav ul{
	display: flex;
}

.block__filter__nav ul li{
	display: flex;
	border: 2px solid #F2F2F2;
	border-radius: 20px;
	height: 15px;
	width: auto;
	text-align: right;
	padding: 10px 10px 10px 0px;
	margin-right: 30px;
	font-weight: bold;
	font-size: 0.9em;
}

.flt{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	position: relative;
	right: 10px;
	bottom: 12px;
}
		/*---------- Filtre selection logement fin ----------*/
		/*---------- Boutton info / txt-info----------*/

.block__info{
	display: flex;
	margin-top: 10px;
}

.fa-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #0065FC;
	font-size: 0.8em;
	border: 2px solid #F2F2F2;
	border-radius: 100%;
	height: 20px;
	width: 20px;
}

.fa-info+ p{
	position: relative;
	left: 10px;
	bottom: 12px;
}

		/*---------- Boutton info / txt-info fin----------*/
		/*---------- Section selection logement ----------*/

.block__logement{
	height: 650px;
	display: flex;
	margin-top: 10px;
}

.block__logement__article h2{
	display: block;
	width: 100%;
}

.block__logement__article{
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 30px;
	flex-wrap: wrap;
	width: 75%;
}

.align_article{
	display: flex;
	justify-content: space-around;
}

.logement{  
	background-color: white;
	width: 240px;
	height: 210px;
	border-radius: 20px;
	padding: 5px 0 0 0;
	margin-left: -5px;
	position: relative;
	left: 20px;
}

.logement_img{
	width: 95%;
	height: 105px;
	border-radius: 20px 20px 0 0;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}

.logement_txt{
	margin-top: 12px;
	margin-left: 20px;
}

.logement_txt p i{
	line-height: 2.5em;
}

.logement_txt p .fas{
	color: #0065FC;
	font-size: 0.9em;
}

		/*---------- Section selection logement fin ----------*/
 		/*---------- Section Aside ----------*/

.fa-chart-line{
	margin-left: 93%;
	position: relative;
	bottom: 18px; 
}

.block__logement__aside{ 
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 25%;
	padding: 30px;
	margin-left: 3%;
}

.logement2{
	background-color: white;
	width: 95%;
	height: 150px;
	padding-top: 5px;
	padding-left: 5px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}

.logement_img2{
	width: 135px;
	height: 140px;
	border-radius: 20px 0px 0px 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 7px;
}
		/*---------- Section Aside fin----------*/
		/*----------- Activités------------*/

#block__activiter{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 40px;
}

#block__activiter h2{
	display: block;
	width: 100%;
}


.block__activiter__article{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 470px;
	width: 93%;
	margin-left: -40px;
}

.block__activiter__fig1, .block__activiter__fig4{
	border-radius: 20px;
	box-shadow: 7px 7px 7px #f8f8f8;
	margin-right: 0px;
	height: 460px;
	width: 25%;
}


.block__activiter__fig2, .block__activiter__fig5, .block__activiter__fig6{
	border-radius: 20px;
	box-shadow: 7px 7px 7px #f8f8f8;
	height: 195px;
	margin-right: 0px;
	width: 24%;
}
.block__activiter__fig3{
	border-radius: 20px;
	box-shadow: 7px 7px 7px #f8f8f8;
	height: 195px;
	margin-right: 0px;
	width: 24%;
}

.block__activiter__img3{
	width: 100%;
	height: 150px;
	border-radius: 20px 20px 0  0 ;
}

.block__activiter__img--a{
	width: 100%;
	height: 390px;
	border-radius: 20px 20px 0  0 ;
}

.block__activiter__img{
	width: 100%;
	height: 150px;
	border-radius: 20px 20px 0  0 ;
}
		/*----------- Activités fin------------*/
		/*---------- footer ----------*/
footer{
	margin-top: 30px;
	padding-right: 2.2em;
	background-color: #f8f8f8;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 200px;
	position: relative;
	right: 20px;
	top: 20px;
}

.footer{
	margin-top: 10px;
	display: inline-block;
	width: 100%;
}

.footer nav ul li{
	width: 50%;
	position: relative;
	right: 20px;
	margin-bottom: 10px;
}
.footer h3{
	position: relative;
	left: 20px;
}
/*---------- Footer fin----------*/
/*---------- Responsive ----------*/



@media only screen and (max-width : 1320px){

	body{
		margin: 0px;
		width: auto;
	}

	/*---------- Header ----------*/
	
	header{
		margin-top: -40px;
	}

	header a { 
		
		padding: 2em 1em 0em 1.5em;
	 }
		
	 #logo {
		display: flex;
		justify-content: center;
		align-items: center;
	 }
		
	 #block__nav {
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		padding: 0;
		padding-bottom: -80px;
	 }
		
	 .login {
		grid-area: 1/2;
		position: relative;
		left: 30px;
		top: 30px;
	 } 
		
	 #block__nav > a:hover {
		border-top: none;
	 }
		
	 .block__nav__border {
		border-bottom: 3px solid #d9d9d9;
	 }
		
	 .block__nav__border:hover {
		border-top: none;
		border-bottom: 3px solid #0065FC;
		color: #0065FC;
	 }

	/*---------- Fin Header ----------*/
	/*---------- Bar de recherche ----------*/

	.btn__search{
		height: 52px;
		width: 3.7em;
		border-radius: 15px 15px 15px 15px;
		position: relative;
		right: 27px;
		top: 1px
	}

	.search__bar{
		font-size: 0.9em;
		border: 2px solid #F2F2F2;
		height: 50px;
		font-weight: bold;
		width: 60%;
	}

	.search__bar__block{
		font-size: 1.2em;
		text-align: center;
		width: auto;
		margin-left: 15px;
	}

	#btn__geo{
		position: relative;
		top: 13px;
		left: 0px;
		font-size: 1em;
	}
	
	.fa-search{
			display: block;
			font-size: 1.3em;
	}

	.search__text{
		margin-left: 20px;
		margin-top: 30px;
	}

	.search__text h2{
		font-size: 1.5em;
	}

	.btn__search span{
		display: none;
	}
	
	.block__search{
		height: 50px;
		width: 55px;
		border-radius: 15px 0px 0px 15px;
		position: relative;
		bottom: 13px;
	}

	
/*---------- Bar de recherche fin ----------*/
/*---------- Filtre selection logement ----------*/

	.block__filter{
		display: inline-block;
		margin-left: 1em;
		font-size: 1em;
		font-weight: bold;
		width: 91%;
	}

	.block__filter__nav ul{
		flex-wrap: wrap;
		height: 50px;
		margin-left: -1.9em;
	}

	.block__filter__nav ul li{
		margin-right: 1.2em;
		margin-bottom: 1em;
		height: 25px;
	}


	.flt{
		height: 50px;
		width: 50px;
	}

/*---------- Filtre selection logement  fin----------*/
/*----boutton info / txt-info----*/ 

	.block__info{
		margin-top: 8.5em;
		margin-left: 20px;
	}

/*----boutton info / txt-info fin----*/
/*---------- Section selection logement ----------*/

	.block__logement{
		flex-direction: column-reverse;
		margin-top: 102em;
		margin-left: 0px;
		width: 90%;
	}
	
	.block__logement__article h2{
		font-size: 1.3em;
		margin-left: 20px;
		margin-top: 40px;
	}
	
	.block__logement__article{
		background-color: white;
		padding: 0px;
		width: 91%;
	}
	
	.align_article{
		flex-direction: column;
		width: 100%;
	}
	
	.logement{  
		box-shadow: 7px 7px 7px #f8f8f8;
		width: 20em;
	}
	
	h3 a{
		margin-left: 20px;
	}
/*---------- Section selection logement fin----------*/

/*---------- Section Aside ----------*/

	.block__graph{
		display: flex;
		white-space: nowrap;
		font-size: 1.2em;
		text-align: left;
	}

	.fa-chart-line{
		margin-left: 35%;
		font-size: 1.3em;
		position: relative;
		top: 0px;
	}

	.block__logement__aside{ 
		border-radius: 0px;
		width: 93%;
		margin: 0;
	}

/*---------- Section Aside fin ----------*/
/*--------------- Activités-------------------*/		

	.block__activiter{
		width: 90%;
		margin-left: 20px;
		margin-bottom:40px ;
	}

	.block__activiter h2{
		font-size: 1.4em;
		margin-left: 0px;
	}


	.block__activiter__article{
		display: block;
		height: auto;
		width: 95%;
		margin-top: 30px;
	}


	.block__activiter__fig1, .block__activiter__fig2, .block__activiter__fig3,.block__activiter__fig4,.block__activiter__fig5,.block__activiter__fig6{
		height: 200px;
		width: 100%;
		margin-top: 30px;
	}
	
	.block__activiter__img,.block__activiter__img3,.block__activiter__img--a{
		width: 100%;
		height: 150px;
	}

/*--------------- Activités fin-------------------*/
/*---------- footer ----------*/

	footer{
		width: 91%;
		padding-top: 20px;
	}

	footer, .footer{
		margin-left: 20px;
		display: block;
		height: auto;	
	}

	.footer nav ul{
	padding-bottom: 20px;
	width: 90%;
	}

	.footer nav ul li{
		width: auto;
		right: 39px;
	}
	.footer h3{
		left: 0px;
	}

/*---------- footer fin ----------*/
}
	