
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


		/*---------- Nav bar ----------*/

ul, li{
	list-style-type: none;
	display: flex;
	margin-right: 20px;
}

		/*---------- Police ----------*/
body
{
	font-family : 'Raleway', sans-serif;
}

h2
{
	font-weight: bold;
	font-size: medium;
}

figcaption{
	font-weight: bold;
}


		/*---------- Filtre selection logement ----------*/

#filter
{
	display: flex;

}


		/*---------- Section selection logement ----------*/

.font_choice{
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 60%;
	padding: 30px;
}

.logement{
	background-color: white;
	width: 245px;
	height: 230px;
	border-radius: 20px;
}

figure{
}

.logement_img{

	width: 235px;
	height: 115px;
	border-radius: 20px 20px 0 0;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 7px;
	
}

.logement_txt {
	margin-left: 14px;
	margin-top: 10px;
}

